.main {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: pink;
  font: 15px arial, sans-serif;
  > div {
    margin: 20px;
    text-align: center;
    padding: 20px 40px;
    cursor: pointer;
    border: 1px solid;
    &:hover,
    &.active {
      color: white;
      background: pink;
    }
  }
}
