{
    "extends": "standard",
    "env": {
        "node": true
    },
    "parserOptions": {
        "sourceType": "module",
        "impliedStrict": false
    },
    "rules": {
        "strict": "error"
    }
}